<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.mapper.CriterionMapper">
  <select id="selectCriterion" parameterType="criterionDto" resultType="criterionVO">
    select * from criterion
    <where>
    	<if test='code != null and !code.equals("")'>
    		and code = #{code}
    	</if>
    	<if test='type != null and !type.equals("")'>
    		and type = #{type}
    	</if>
    	<if test="status == 'Y' or status == 'N'">
    		and status = #{status}
    	</if>
    	<if test='name != null and !name.equals("")'>
    		and name = #{name}
    	</if>
    </where>
  </select>
  
  <insert id="insertCriterion" parameterType="criterionDto">
  	insert into criterion (
		<if test='code != null and !code.equals("")'>code,</if>
		<if test='type != null and !type.equals("")'>type,</if>
		<if test="status == 'Y' or status == 'N'">status,</if>
		<if test='name != null and !name.equals("")'>name</if>
  	) values (
		<if test='code != null and !code.equals("")'>#{code},</if>
		<if test='type != null and !type.equals("")'>#{type},</if>
		<if test="status == 'Y' or status == 'N'">#{status},</if>
		<if test='name != null and !name.equals("")'>#{name}</if>
  	)
  </insert>
  
  <update id="updateCriterion" parameterType="criterionDto">
  	update criterion
  	<set>
    	<if test='type != null and !type.equals("")'>
    		type = #{type},
    	</if>
    	<if test="status == 'Y' or status == 'N'">
    		status = #{status},
    	</if>
    	<if test='name != null and !name.equals("")'>
    		name = #{name},
    	</if>
  	</set>
  	where id = #{id}
  </update>
  
  <delete id="deleteCriterion" parameterType="criterionDto">
  	delete from criterion where id = #{id}
  </delete>
</mapper>