/* fonts */
.cute-font-regular {
    font-family: "Cute Font", serif;
    font-weight: 400;
    font-style: normal;
}
.hi-melody-regular {
    font-family: "Hi Melody", serif;
    font-weight: 400;
    font-style: normal;
}
.gowun-dodum-regular {
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
/* flexible */
.container {
    display: flex;
}
.space {
    justify-content: space-between;
}
.center {
    justify-content: center;
    align-items: center;
}
.col {
    flex-direction: column;
}
/* sizes */
.w-400 {
    width: 400px;
}
.h-700 {
    height: 700px;
}
.f-30 {
    font-size: 30px;
}
/* align */
.mg-v-10 {
    margin: 10px 0;
}
.mg-v-30 {
    margin: 30px 0;
}
/* elements */
.btn-primary {
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(88, 132, 255);
    background-color: rgb(167, 190, 255);
    font-size: medium;
    font-weight: bolder;

    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
/* tags */
body {
    font-family: "Gowun Dodum", serif;
    font-weight: 400;
    font-style: normal;
}
input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: 1px solid red;
}
#form {
    border: 1px solid rgb(209, 209, 209);
    height: 70%;
    /* height: 700px; */
    display: flex;
    
}
#logo {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img {
    width: 90px;
    height: 90px;
    border-radius: 15px;
}
#logo #caption span {
    font-size: 30px;
}
#title {
    font-size: 25px;
}