<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <typeAliases>
  	<typeAlias type="com.erp.vo.SampleVO" alias="sampleVO"/>
  	<typeAlias type="com.erp.vo.AdminVO" alias="adminVO"/>
  	<typeAlias type="com.erp.vo.EmployeeVO" alias="employeeVO"/>
  	<typeAlias type="com.erp.vo.CriterionVO" alias="criterionVO"/>
  	<typeAlias type="com.erp.vo.DepartmentVO" alias="departmentVO"/>
  </typeAliases>
  
</configuration>